<%= form_with(model: certification) do |form| %>
  <% if certification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certification.errors.count, "error") %> prohibited this certification from being saved:</h2>

      <ul>
        <% certification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :disease_target %>
    <%= value_set_select :certification, :disease_target %>
  </div>

  <div class="field">
    <%= form.label :vaccine_or_prophylaxis %>
    <%= value_set_select :certification, :vaccine_or_prophylaxis %>
  </div>

  <div class="field">
    <%= form.label :medicinal_product %>
    <%= value_set_select :certification, :medicinal_product %>
  </div>

  <div class="field">
    <%= form.label :marketing_authorization_holder %>
    <%= value_set_select :certification, :marketing_authorization_holder %>
  </div>

  <div class="field">
    <%= form.label :vaccination_country %>
    <%= value_set_select :certification, :vaccination_country %>
  </div>

  <div class="field">
    <%= form.label :vaccination_date %>
    <%= form.date_field :vaccination_date %>
  </div>

  <div class="field">
    <%= form.label :dose_number %>
    <%= form.number_field :dose_number, min: 1 %>
  </div>

  <div class="field">
    <%= form.label :series_of_doses %>
    <%= form.number_field :series_of_doses, min: 1 %>
  </div>

  <div class="field">
    <%= form.label :uvci %>
    <%= form.text_field :uvci %>
  </div>

  <div class="field">
    <%= form.label :issuer %>
    <%= issuers_select :certification, :issuer_id %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
