<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @certification.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @certification.surname %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @certification.date_of_birth %>
</p>
<p>
  <strong>Category:</strong>
  <%= @certification.category %>
</p>


<p>
  <strong>Qr code info:</strong>
  <%== @certification.qr_code %>
</p>

<p>
  <strong>Qr code:</strong>
  <%== @certification.show_qr_code %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
